extends layout

block content
  h1= title
  p Welcome to #{title}
  p. Create your own level!
  <a href="/levels" class="btn btn-info">Back to level Selection</a>
  <button id="verifyButton" class="btn">Verify this level setting</button>
  <button id="saveButton" class="btn">Save this level</button>
  script.
    create_level = true;
    levelData = null;
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.min.js")
  script(type="text/javascript", src="js/gameplay.js")
