extends layout

block content
  h1= title
  p Welcome to #{title}
  p. Create your own level!
  <a href="/levels" class="btn btn-info">Back to level Selection</a>
  <a href="/createLevel" class="btn btn-default">Verify this level setting</a>
  <a href="/createLevel" class="btn btn-default">Save this level</a>
  <a href="/createLevel" class="btn btn-default">Publish my own level</a>
  <button id="hahaah" class="btn">Be Awesome</button>
  a(class='button', href='#',id='saveButton') SaveButton
  script.
    create_level = true;
    levelData = null;
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.min.js")
  script(type="text/javascript", src="js/gameplay.js")
