extends layout


block content
  div.welcomebox
      // Filtered inline output
      p.
        Welcome, #{user.displayName}, this is level #{level}
      <a href="/levels" class="btn btn-info">Back to level Selection</a>
  p
      a(class='button', href='/logout') Log out
      a(class='button', href='/logout',id='saveButton') SaveButton

  script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.min.js")
  script(type="text/javascript",src="js/gameplay.js")
