extends layout

block content
    div.welcomebox
        // Filtered inline output
        p.
          Welcome, #{user.displayName}
    p
        a(class='button', href='/logout') Log out
  h1= title
  p Welcome to #{title}
  canvas(id="gamecanvas", width="640px", height="480px")
  script(type="text/javascript").

    var renderer = new PIXI.CanvasRenderer(window.innerWidth, window.innerHeight);

    document.body.appendChild(renderer.view);

    var stage = new PIXI.Stage;

    var zombieTexture = PIXI.Texture.fromImage('zombie.png');
    var zombie = new PIXI.Sprite(zombieTexture);

    zombie.position.x = window.innerWidth / 2 - 150;
    zombie.position.y = window.innerHeight / 2 - 150;

    stage.addChild(zombie);

    function draw() {
      renderer.render(stage);
      requestAnimationFrame(draw);
    }
    draw();

