extends layout

block content
  div.welcomebox
      // Filtered inline output
      p.
        Welcome, #{user.displayName}
  p
      a(class='button', href='/logout') Log out
 
  script(type="text/javascript",src="js/gameplay.js")
  

