doctype html
html(lang='en')
    head
        title= title
        link(href="css/bootstrap.min.css", rel="stylesheet")
        meta(charset='utf-8')
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
        script(src='/js/html5shiv.js')
        script(src='/js/respond.min.js')
        // Custom styles for this template
        link(href='/css/carousel.css', rel='stylesheet')
        block header
    body
        style.
          body {
            background-color: #f1c233;
          }
          .title-text {
            font-weight: 600;
            color: #ff9a03;
          }
          a:hover.title-text {
            color: #d68000;
            cursor: pointer;
            text-decoration: none;
          }
          .footer-container {
            background-color: #ff9a03;
            border-width: 0;
            width: 100%;
            padding: 20px 50px;
            position: fixed;
            bottom: 0;
          }
          .body-content {
            padding: 80px 50px 50px;
          }
        NAVBAR
        style.
          .container {
            width: 100%;
            margin-left: 0;
          }
          .navbar.navbar-inverse.navbar-fixed-top {
            background-color: #ff9a03;
            border-width: 0;
          }
          .navbar-wrapper .container {
            width: 100%;
            padding-top: 0;
          }
          .navbar-wrapper .navbar {
            border-radius: 0;
          }
          .navbar-inverse .navbar-nav > li > a {
            padding-top: 30px;
            height: 80px;
            color: white;
          }
          .navbar-inverse .navbar-nav > li > a:hover {
            padding-top: 30px;
            height: 80px;
            background-color: #d68000;
          }
          a.button {
            color: #FFF;
            background-color: #d68000;
            border-color: #d77900;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            border-radius: 4px;
            padding: 6px 12px;
            display: inline-block;
            margin-bottom: 0px;
            line-height: 1.42857;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -moz-user-select: none;
            background-image: none;
            border: 1px solid transparent;
            margin-top: 10px;
            float: right;
          }
          a:hover.button {
            background-color: #a06002;
            border-color: #a06002;
            text-decoration: none;
          }
          a.navbar-brand {
            padding-top: 0;
          }
          .navbar-collapse.collapse .nav.navbar-nav > .open > a {
            background-color: #d68000;
          }
        .navbar-wrapper
            .container
                .navbar.navbar-inverse.navbar-fixed-top
                    .container(style="height: 80px;")
                        .navbar-header(style="padding-top: 15px")
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='/home')
                              img(src="images/tmp.png", width="50px")
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li
                                    a(href='/about') About
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | My Account
                                    ul.dropdown-menu
                                        li
                                            a(href='/') View Profile
                                        li.divider
                                        li
                                            a(href='/') Edit Profile
                            //if !firstname
                            //    form(class="navbar-form navbar-right", role="form", action="/", method="post")
                            //        div(class="form-group")
                            //            input(type="text", placeholder="Email", class="form-control", name="username")
                            //        div(class="form-group")
                            //            input(type="password", placeholder="Password", class="form-control", name="password")
                            //        button(type="submit", class="btn btn-success btn-sm").
                            //            Sign in
                            //else
                            //    form(class="navbar-form navbar-right navbar-text", action="/logout", method="post")
                            //        div(class="form-group", align = "right")
                            //            h9 Welcome, #{firstname}!&nbsp;&nbsp;
                            //            button(type="submit", class="btn btn-danger btn-sm").
                            //                Log out
                            a.button(style="margin-left: 10px; margin-top: 25px;")
                              | Sign Up
                            a.button(style="margin-top: 25px;")
                              | Sign In
        .body-content
          block content
        .footer-container
          footer
              p
                  | © Some Project @ Imperial College London 2015
                  | ·
                  a(href='/about') Group 4

        // Placed at the end of the document so the pages load faster
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/holder.js')
