extends layout

block content
  style.
    .form-control {
      margin: 5px auto;
      width: 400px;
    }
    .body-content {
          height: 90%;
        }
    footer {
      height: 8%;
    }
  form(class="form-signin", role="form", method="post", action="/register")
    if errormsg
      div(class="alert alert-danger")
        p #{errormsg}
    input(type="text", class="form-control", placeholder="Display name", name
     ="displayName", id="displayName", required, autofocus)
    input#signup_usr(type="text", class="form-control", placeholder="Username", name="username", required)
    input#signup_pss(type="password", class="form-control", placeholder="Password (More than 4 characters)", name="password", pattern="\\S{4}\\S*",required)
    input#signup_pssconf(type="password", class="form-control", placeholder="Confirm password", name="password2", required)
    div(style="margin: 0 auto; display: table;")
      button#signup_signup(type="submit", class='button', style="float:initial") Sign up
      button#signup_cancel(href="/home", data-dismiss="modal", class='button', style="float:initial; margin-left: 10px;") Cancel
